body {
  background-color: yellowgreen;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crée 3 colonnes de largeur égale */
  grid-template-rows: repeat(3, 1fr); /* Crée 3 rangées de hauteur égale */
  justify-content: center; /* Centre les cercles horizontalement */
  align-items: center; /* Centre les cercles verticalement */
  background-color: yellowgreen;
  grid-column-gap: 10px;
}

.cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hotpink;
  border: 2px solid black;
  height: 200px;
  width: 200px;
}
